/application/node_modules
/application/public/hot
/application/public/storage
/application/public/uploads
/application/storage/*.key
/application/vendor
/application/.env
/application/.env.*
!/application/.env.*.example
!/application/.env.example
/application/.phpunit.result.cache
/application/.phpstorm.meta.php
/application/_ide_helper.php
/application/_ide_helper_models.php
/application/phpunit.xml

/.idea
/.vscode
/.vagrant
.phpstorm*
_ide_helper.php
_ide_helper_models.php

/docker-compose.yml
/docker-compose.override.yml

/volumes
!/volumes/mysql/.gitkeep

/backup

/env/build.sh
/env/docker/nginx/nginx.conf
/env/docker/php-fpm/opcache.ini
/env/docker/php-fpm/php.ini

/application/storage/api-docs/
/application/storage/volumes/
/application/storage/app/public/uploads/
