#!/usr/bin/env bash

cat /dev/null > volumes/nginx/log/error.log
cat /dev/null > volumes/nginx/log/mdev_access.log
cat /dev/null > volumes/nginx/log/mdev_error.log

docker-compose down
docker-compose up -d --build

docker exec -it mdev_php_fpm composer install
docker exec -it mdev_php_fpm composer dump-autoload  --optimize

sudo chmod -R 777 ./volumes
